---
layout: default
title: About Rekha
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Rekha</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              a lifelong learner
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>An engineer, who believes in following the footsteps of great personalities and draw inspirations from their works. She is passionate about changing the world through great technology products.</p>
        <h4>Motto</h4>
        <p class="u--startsWithDoubleQuote">“If you can dream it, you can do it. Though becoming unique is a difficult challenge, it can be beaten by knowledge. Never stop fighting till you succeed.</p>
        <h4>Goals (short term)</h4>
        <ul>
          <li>Building a high tech school for undeprivileged</li>
          <li>Building a veterinary hospital in memory of Tuffy</li>
          <li>Embrace failure</li>
          <li>Be creative, righteous by heart and courageous</li>
          <li>Trusting myself to take decisions</li>
          <li>Be more dedicated to making solid achievements than in running after swift but synthetic happiness</li>
        </ul>
        <h4>Dreams (long term)</h4>
        <ul>
          <li>Life is too short for long term goals</li>
        </ul>
        <h4>Role Models</h4>
        <p>
          Walt Disney, Steve Jobs, Elon Musk, Bill Campbell, Bill Gates, A. P. J. Abdul Kalam, Howard Schultz, Jim Collins, Sheryl Sandberg, Warren Buffett, Cher Wang, Masayoshi Son, Tadashi Yanai, Reid Hoffman, Peter Thiel, Paul Graham, Seth Godin, Steve Blank, Jeff Bezos.
        </p>
      
      
        <p>
          Photo Credit: <a href="http://www.pixar.com/short_films/Theatrical-Shorts/La-Luna" target="_blank">Pixar's La Luna</a>
        </p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
